/* header{
    margin: 0;
} */

/* .row{
    
    background-image: url(https://i.postimg.cc/43dhJWHC/young-woman-holding-credit-card-using-smart-phone-buying-onl.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

} */




