<div class="container text-center" style="margin-top: 50px;">

    <div class="row animate" data-animate="fadeInUp">

        <div class="col-md-6  me-4 mb-4 animate" data-animate="fadeInUp"
            style="border-radius: 20px;  background-color:rgb(13, 214, 171) ; height: 380px; width: 470px; margin-top: 55px;margin-left: 322px;">

            <div class="">
                <h1 class="text-center mt-4 text-white"> Sign In </h1>
            </div>

            <div class="containerbg p-2 mt-4 ms-5 me-5 animate" data-animate="fadeInUp">

                <form id="d" action class="container">

                    <!-- (change) = "Account_NoChange($event)" [placeholder]="Pdata" -->
                    <input id="u1" name="uname" placeholder="Account_No" autocomplete="off" type="text"
                        class="form-control mt-2 p-2" />

                    <input id="u1" name="uname" placeholder="User name" autocomplete="off" type="text"
                        class="form-control mt-3 p-2" />

                    <input id="u1" name="uname" placeholder="Enter Password" autocomplete="off" type="password"
                        class="form-control mt-3 p-2" />

                    <input formControlName="psw" name="password" id="p1" placeholder="Confirm Password" type="password"
                        class="form-control mt-3" />

                    <!-- (click)="login()" -->
                    <button click="" type="submit"
                        style="height: 35px; width: 23%; color: #181515; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
                        class="container btn btn-warning border mt-2 p-2"> Sign Up </button>